<header>
  <nav class="bd-tabs">
    <div class="tabs">
      <ul>
        <li>
          <a class="button is-text" href="/">
            <span class="icon">
              <i class="fa fa-home"></i>
            </span>
            <span>
              Inicio
            </span>
          </a>
        </li>
        <li>
          <a class="button is-text" href="{% url 'analisis:analisis_list' %}">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>
              Analisis
            </span>
          </a>
        </li>
        <li>
          <a class="button is-text" href="{% url 'analisis:resultados_list' %}">
            <span class="icon">
              <i class="fa fa-list"></i>
            </span>
            <span>
              Resultados
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>